@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"),
    url("TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("TTLakes-Bold.woff") format("woff"),
    url("TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"),
    url("TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("TTLakes-Medium.woff") format("woff"),
    url("TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"),
    url("TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("TTLakes-Regular.woff") format("woff"),
    url("TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "TT Lakes", sans-serif;
  margin: 0px;
  min-width: 320px;
}
@media (min-width: 1120px) {
  body {
    background: #f8f8f8;
  }
}

.menu-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  border-bottom: 1px solid #d9fff5;
}
@media (min-width: 768px) {
  .menu-select {
    padding: 0 8px;
  }
}

.select-list__first,
.select-list__second {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 0px;
}

.select-list__first > li {
  padding-left: 16px;
}

.select-list__first > li > button {
  background: #ffffff;
  border: white;
  padding: 0px;
}

.select-list__second > li {
  padding-right: 16px;
}

.select-list__second > li > button {
  background: #ffffff;
  border: white;
  padding: 0px;
}

.list-second-repair::before {
  content: "";
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background-color: #eaeaea;
  display: inline-block;
  margin-right: 16px;
}
@media (min-width: 768px) {
  .list-first-logo::before {
    content: "";
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #eaeaea;
    display: inline-block;
    vertical-align: super;
    margin-right: 16px;
  }
}

.list-second-call,
.list-second-chat,
.list-second-profile {
  display: none;
}
@media (min-width: 768px) {
  .list-second-call,
  .list-second-chat,
  .list-second-profile {
    display: block;
  }
}

@media (min-width: 1120px) {
  .header {
    display: none;
  }
}

.main-services {
  background: #f8f8f8;
}

@media (min-width: 1120px) {
  .services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
  }
}

@media (min-width: 320px) {
  .service {
    display: none;
  }
}

@media (min-width: 1120px) {
  .service {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 380px;
  }
}

.service__group {
  display: flex;
  align-items: center;
}
@media (min-width: 1120px) {
  .service__group {
    align-items: center;
  }
}

.service__group::before {
  content: "";
  width: 4px;
  height: 40px;
  background-color: #41f6d7;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.service__repair,
.service__chekstatus {
  display: flex;
  align-items: center;
  background: #f8f8f8;
  border: 0;
  padding: 0;
}

.service-title {
  letter-spacing: -0.6px;
  line-height: 40px;
  padding-left: 12px;
}

@media (min-width: 768px) {
  .service-title {
    padding-left: 20px;
  }
}

@media (min-width: 1120px) {
  .service-title {
    margin: 0px;
    padding-left: 28px;
  }
}

.service__text-first,
.service__text-second {
  font-family: "TT Lakes", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.2px;
  margin-right: 8px;
}

.list {
  display: flex;
  overflow: auto;
  padding-left: 16px;
  height: 40px;
  list-style: none;
}
@media (min-width: 1120px) {
  .list {
    overflow: visible;
    flex-wrap: wrap;
  }
}

.list__item {
  font-family: "TT Lakes", sans-serif;
  white-space: pre;
  text-align: center;
  background: #f8f8f8;
  border: 0;
  padding: 6px 14px;
  margin-right: 6px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
}

@media (min-width: 1120px) {
  .list__item {
    margin-right: 25px;
  }
}

.list__item:focus {
  background: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

.text-about {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  margin: 24px 16px 16px;
  font-weight: normal;
}
@media (min-width: 768px) {
  .text-about {
    margin-right: 48px;
    margin-left: 24px;
  }
}

@media (min-width: 1120px) {
  .text-about {
    width: 490px;
    margin-right: 36px;
    margin-left: 34px;
  }
}

@media (min-width: 320px) {
  .about__dell-second {
    display: none;
  }
}
@media (min-width: 768px) {
  .about__dell-second {
    display: block;
  }
}

@media (min-width: 768px) {
  .hidden__about-dell {
    display: none;
  }
}

@media (min-width: 1120px) {
  .hidden__about-dell {
    display: inline;
  }
}

.read-more {
  display: flex;
  align-items: center;
  margin-left: 8px;
  border: 0px;
  padding: 0px;
  background: #f8f8f8;
}

.read-more-text {
  font-family: "TT Lakes", sans-serif;
  font-size: 16px;
  margin: 0px 0px 0px 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  font-weight: 600;
}

@media (min-width: 768px) {
  .content {
    display: flex;
    align-items: center;
}

@media (min-width: 1120px) {
  .content {
    align-items: unset;
  }
}

@media (min-width: 768px) {
  .content-picture {
    margin-top: 14px;
    margin-right: 16px;
    border-radius: 6px;
  }
}

@media (min-width: 1120px) {
  .content-picture {
    display: flex;
    flex-grow: 1;
  }
}