@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"),
    url("TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("TTLakes-Bold.woff") format("woff"),
    url("TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"),
    url("TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("TTLakes-Medium.woff") format("woff"),
    url("TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"),
    url("TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("TTLakes-Regular.woff") format("woff"),
    url("TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "TT Lakes", sans-serif;
  margin: 0px;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 1024px;
  background: #ffffff;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
}

.sidebar__top-menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 18px 24px 0px;
}

.select-list {
  display: flex;
  align-items: center;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

.select-cross {
  margin-right: 17px;
}

.btn {
  background: #ffffff;
  border: 0;
  padding: 0px;
}

.sidebar-services__select {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-left: 24px;
}

.sidebar-services__select > li:last-child {
  margin-bottom: 0;
}

.service__select {
  display: flex;
  margin-bottom: 32px;
  align-items: center;
}

.service-text {
  font-family: "TT Lakes", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
}

.service__select:hover:before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 32px;
  background-color: #41f6d7;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.btn:hover {
  filter: opacity(0.5);
}

.sidebar__bottom {
  margin-top: 268px;
  margin-left: 24px;
}

.sidebar-bottom__select {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-bottom__contacts {
  margin-right: 16px;
}

.sidebar__mail-text {
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
}

.sidebar__phone-text {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  font-weight: bold;
  color: #1b1c21;
}

.lang__text {
  font-family: TT Lakes, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
}
